body{
    font-family: 'PT Serif', serif;
}

.banner{
    background-image:url(./image/artist-bn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 0;
}
.form{
    background-image: url(./image/paint.banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sample{
    background-image: url(./image/blur2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.silfe{
    background-image: url(./image/bg.banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 20px;
}
.contact-left-title h2{
 font-weight: 600;
 color: #a363aa;
 font-size: 40px;
 margin-bottom: 10px;
}
.contact-left-title hr{
  border: none;
  width:295px;
  height: 6px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-inputs{
  width: 600px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
  border: 2px solid #ff994f;
}
.contact-inputs::placeholder{
  color: #a9a9a9;
}
.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg,#ff994f,#fa6d86);
  cursor: pointer;
}
@media (max-width:800px) {
.contact-inputs{
    width: 80vw;
}
.contact-right{
    display: none;
}
}

 
.footer {
    position: relative;
    width: 100%;
    background:slategray;
    min-height: 50px;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  

 